.recipe {
  background-color: #fffdf8;

  ///////////
  // FIGURE
  &__fig {
    height: 36rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba($color-grey-dark-1, 0.02), rgba($color-grey-dark-1, 0.5));
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-weight: 700;
    font-size: 3.8rem;
    width: min(78%, 58rem);
    line-height: 1.15;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.2rem 1.8rem;
      background-color: rgba($color-grey-dark-1, 0.86);
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 6.5rem 7rem 3rem;
    border-bottom: 1px solid $color-grey-light-2;
  }

  &__info {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
    color: $color-grey-dark-1;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: $color-grey-light-2;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 0.6rem;

    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 7rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem 3.5rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
    align-items: flex-start;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    max-width: 58rem;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
    color: $color-primary;
  }
}

@media only screen and (max-width: $bp-medium) {
  .recipe__details {
    padding: 6rem 4rem 2.5rem;
  }

  .recipe__ingredients {
    padding: 4rem;
  }

  .recipe__directions {
    padding: 4rem 5rem 5rem;
  }
}

@media only screen and (max-width: $bp-small) {
  .recipe__fig {
    height: 28rem;
  }

  .recipe__title {
    width: 86%;
    font-size: 2.9rem;
  }

  .recipe__details {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 5rem 2rem 2rem;
  }

  .recipe__info:not(:last-child) {
    margin-right: 1rem;
  }

  .recipe__user-generated {
    margin-left: auto;
  }

  .recipe__ingredient-list {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .recipe__directions {
    padding: 4rem 2.5rem 5rem;
  }
}
